<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8" />
            <title>{% block title %}lunch Site!{% endblock %}</title>
            {% block stylesheets %}{% endblock %}
            <meta name="viewport" content="user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
            <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/98990/lunch/style.css?yw0x8o">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('build/common.css') }}" />
            <script src="{{ asset('build/manifest.js') }}"></script>
            <script src="{{ asset('build/vendor.js') }}"></script>
            <script rel="" src="{{ asset('build/app.js') }}"></script>

            {#naver API#}
            <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=Gpn3kmsUNJyWuUHjYl4I&submodules=geocoder"></script>

        {% endblock %}
    </head>
    <body>


        {% block body %}

        {% endblock %}

        {% block javascripts %}
        {% endblock %}


    </body>
</html>
