{% extends '@App/base.html.twig' %}

{% block body %}
    <header id="header-wrap">
        <div class="container-fluid">
            <div class="row">
                <div class="logo-wrap">
                    <h1 class="logo">
                        <a href="#"><img src="{{  asset('bundles/app/assets/img/lunch-logo.png') }}" alt=""></a>
                    </h1>
                </div>
                <ul class="gnb">
                    <li><a href="">점심맛집</a></li>
                    <li><a href="">서울베스트</a></li>
                    <li><a href="">룰렛</a></li>
                </ul>
            </div>
        </div>
    </header>

    <section class="main-content-wrap">
        <div class="main-tit">
            <h2>
                회사주변 식당 도장깨기! 직접 먹어본 후기
            </h2>
            <p>매일 뭐 먹지 고민 안하고싶어서 만든 사이트</p>
        </div>


        <div class="search-box">
            <fieldset>
                <legend>전체 검색</legend>
                <label for="" class="search-input">
                    <input type="text" placeholder="주변식당,맛집검색">
                </label>
                <input type="submit" value="검색" class="search-btn">
            </fieldset>

        </div>
    </section>

    <section class="content-wrap">
        <div class="container">
            <div class="near-restaurant-wrap">
                <div class="tit">
                    <h4>회사 근처 식당</h4>
                </div>

                <div id="carouselFood" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselFood" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselFood" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="food-wrap">
                               <div class="food-inner">
                                   <div class="food-box">
                                       <a href="#">
                                           <div class="txt-box">
                                               <h3>이주의 EAT딜 베스트</h3>
                                               <p>놓칠수 없는 이주의 EAT 딜!</p>
                                           </div>
                                       </a>
                                       <img src="{{asset('bundles/app/assets/img/food/food7.JPG')  }}" alt="">
                                   </div>
                                   <div class="food-box">
                                       <a href="#">
                                           <div class="txt-box">
                                               <h3>이주의 EAT딜 베스트</h3>
                                               <p>놓칠수 없는 이주의 EAT 딜!</p>
                                           </div>
                                       </a>
                                       <img src="{{asset('bundles/app/assets/img/food/food15.jpg')  }}" alt="">
                                   </div>
                                   <div class="food-box">
                                       <a href="#">
                                           <div class="txt-box">
                                               <h3>이주의 EAT딜 베스트</h3>
                                               <p>놓칠수 없는 이주의 EAT 딜!</p>
                                           </div>
                                       </a>
                                       <img src="{{asset('bundles/app/assets/img/food/food7_4.JPG')  }}" alt="">
                                   </div>
                               </div>
                               <div class="food-inner">
                                   <div class="food-box">
                                       <a href="">
                                           <div class="txt-box">
                                               <h3>이주의 EAT딜 베스트</h3>
                                               <p>놓칠수 없는 이주의 EAT 딜!</p>
                                           </div>
                                       </a>
                                       <img src="{{asset('bundles/app/assets/img/food/food20.jpg')  }}" alt="">
                                   </div>
                                   <div class="food-box">
                                       <a href="">
                                           <div class="txt-box">
                                               <h3>이주의 EAT딜 베스트</h3>
                                               <p>놓칠수 없는 이주의 EAT 딜!</p>
                                           </div>
                                       </a>
                                       <img src="{{asset('bundles/app/assets/img/food/food5_2.JPG')  }}" alt="">
                                   </div>
                                   <div class="food-box">
                                       <a href="#">
                                           <div class="txt-box">
                                               <h3>이주의 EAT딜 베스트</h3>
                                               <p>놓칠수 없는 이주의 EAT 딜!</p>
                                           </div>
                                       </a>
                                       <img src="{{asset('bundles/app/assets/img/food/food11_2.GIF')  }}" alt="" class="moving">
                                   </div>
                               </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                            <div class="food-wrap">
                                <div class="food-inner">
                                    <div class="food-box">
                                        <a href="#">
                                            <div class="txt-box">
                                                <h3>이주의 EAT딜 베스트</h3>
                                                <p>놓칠수 없는 이주의 EAT 딜!</p>
                                            </div>
                                        </a>
                                        <img src="{{asset('bundles/app/assets/img/food/food3.JPG')  }}" alt="">
                                    </div>
                                    <div class="food-box">
                                        <a href="#">
                                            <div class="txt-box">
                                                <h3>이주의 EAT딜 베스트</h3>
                                                <p>놓칠수 없는 이주의 EAT 딜!</p>
                                            </div>
                                        </a>
                                        <img src="{{asset('bundles/app/assets/img/food/food8.JPG')  }}" alt="">
                                    </div>
                                    <div class="food-box">
                                        <a href="#">
                                            <div class="txt-box">
                                                <h3>이주의 EAT딜 베스트</h3>
                                                <p>놓칠수 없는 이주의 EAT 딜!</p>
                                            </div>
                                        </a>
                                        <img src="{{asset('bundles/app/assets/img/food/food4_3.JPG')  }}" alt="">
                                    </div>
                                </div>
                                <div class="food-inner">
                                    <div class="food-box">
                                        <a href="">
                                            <div class="txt-box">
                                                <h3>이주의 EAT딜 베스트</h3>
                                                <p>놓칠수 없는 이주의 EAT 딜!</p>
                                            </div>
                                        </a>
                                        <img src="{{asset('bundles/app/assets/img/food/food9_2.GIF')  }}" alt="" class="moving">
                                    </div>
                                    <div class="food-box">
                                        <a href="">
                                            <div class="txt-box">
                                                <h3>이주의 EAT딜 베스트</h3>
                                                <p>놓칠수 없는 이주의 EAT 딜!</p>
                                            </div>
                                        </a>
                                        <img src="{{asset('bundles/app/assets/img/food/food3_2.JPG')  }}" alt="">
                                    </div>
                                    <div class="food-box">
                                        <a href="#">
                                            <div class="txt-box">
                                                <h3>이주의 EAT딜 베스트</h3>
                                                <p>놓칠수 없는 이주의 EAT 딜!</p>
                                            </div>
                                        </a>
                                        <img src="{{asset('bundles/app/assets/img/food/food10_1.JPG')  }}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselFood" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselFood" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <section class="content-wrap">
        <div class="container">
            <div class="seoul-restaurant-wrap">
                <div class="tit">
                    <h4>서울 맛집</h4>
                </div>
                <div class="food-inner">
                    <div class="food-box">
                        <a href="#">
                            <div class="txt-box">
                                <h3>이주의 EAT딜 베스트</h3>
                                <p>놓칠수 없는 이주의 EAT 딜!</p>
                            </div>
                        </a>
                        <img src="{{asset('bundles/app/assets/img/food/seoul_food1_2.JPG')  }}" alt="">
                    </div>
                    <div class="food-box">
                        <a href="#">
                            <div class="txt-box">
                                <h3>이주의 EAT딜 베스트</h3>
                                <p>놓칠수 없는 이주의 EAT 딜!</p>
                            </div>
                        </a>
                        <img src="{{asset('bundles/app/assets/img/food/seoul_food2.JPG')  }}" alt="">
                    </div>
                    <div class="food-box">
                        <a href="#">
                            <div class="txt-box">
                                <h3>이주의 EAT딜 베스트</h3>
                                <p>놓칠수 없는 이주의 EAT 딜!</p>
                            </div>
                        </a>
                        <img src="{{asset('bundles/app/assets/img/food/seoul_food8.JPG')  }}" alt="">
                    </div>
                </div>
                <div class="food-inner">
                    <div class="food-box">
                        <a href="#">
                            <div class="txt-box">
                                <h3>이주의 EAT딜 베스트</h3>
                                <p>놓칠수 없는 이주의 EAT 딜!</p>
                            </div>
                        </a>
                        <img src="{{asset('bundles/app/assets/img/food/seoul_food3.JPG')  }}" alt="">
                    </div>
                    <div class="food-box">
                        <a href="#">
                            <div class="txt-box">
                                <h3>이주의 EAT딜 베스트</h3>
                                <p>놓칠수 없는 이주의 EAT 딜!</p>
                            </div>
                        </a>
                        <img src="{{asset('bundles/app/assets/img/food/seoul_food4.JPG')  }}" alt="">
                    </div>
                    <div class="food-box">
                        <a href="#">
                            <div class="txt-box">
                                <h3>이주의 EAT딜 베스트</h3>
                                <p>놓칠수 없는 이주의 EAT 딜!</p>
                            </div>
                        </a>
                        <img src="{{asset('bundles/app/assets/img/food/seoul_food7.JPG')  }}" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>





    <footer id="footer-wrap">
        <div class="container">
            <div class="footer-logo">
                <img src="{{asset('bundles/app/assets/img/adenasoft_w.svg')  }}" alt="">
            </div>
            <ul class="footer-info">
                <li>Copyright <b>AdenaSoft</b> corp. all rights reserved.</li>
                <li><address>서울 강남구 테헤란로 207 14층</address></li>
            </ul>
        </div>
    </footer>
{% endblock %}

{% block stylesheets %}

{% endblock %}
